In [10]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)

In [4]:
df = pd.read_csv(r'C:\Users\omdre\OneDrive\Desktop\Codecademy\Water_Gas_Consumption_Cost_2010-2020\Heating_Gas_Consumption_And_Cost_2010_2020.csv')

In [11]:
# Displaying first 5 rows
df.head()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (Therms),ES Commodity,Underlying Utility
0,BETANCES I,BRONX,BETANCES I,NaN,NONE,NaN,211.0,326,B021100,FEDERAL,NY005012110P,CONSOLIDATED EDISON COMPANY OF NY,1841847,2010-01,12/09/2009,01/31/2010,53.0,2545269,N,0.00,NaN,Yes,0.00,UTILITY GAS,ConEd
1,ADAMS,BRONX,ADAMS,BLD 04,NONE,BLD 1-7,118.0,248,B011800,FEDERAL,NY005001180P,CONSOLIDATED EDISON COMPANY OF NY,1838631,2010-01,12/24/2009,01/26/2010,33.0,3299599,N,78292.97,Trans Res MultiDwell Heat Dual,Yes,136632.00,UTILITY GAS,ConEd
2,ADAMS,BRONX,ADAMS,BLD 04,Not Applicable,NaN,118.0,248,B011800,FEDERAL,NY005001180P,HESS CORPORATION (905243) - 2,1851664,2010-01,12/25/2009,01/26/2010,32.0,3.95416E+14,N,133779.54,NaN,Yes,136632.00,BROKERED GAS,ConEd
3,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,AMR,BLD 1-6,31.0,524,K003100,FEDERAL,NY005010310P,National Grid NYC,2215468,2010-01,12/29/2009,01/28/2010,30.0,08372362-66.8%,N,44335.21,T3 Tran Mult Fam,Yes,153899.18,UTILITY GAS,NatGrid NYC
4,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,AMR,BLD 7-9,85.0,524,K008500,FEDERAL,NY005010310P,National Grid NYC,2215468,2010-01,12/29/2009,01/28/2010,30.0,08372362-33.2%,N,22034.86,T3 Tran Mult Fam,Yes,76488.82,UTILITY GAS,NatGrid NYC

In [13]:
# Getting all the columns of the df
df.columns

Index(['Development Name', 'Borough', 'Account Name', 'Location', 'Meter AMR',
       'Meter Scope', 'TDS #', 'EDP', 'RC Code', 'Funding Source', 'AMP #',
       'Vendor Name', 'UMIS BILL ID', 'Revenue Month', 'Service Start Date',
       'Service End Date', '# days', 'Meter Number', 'Estimated',
       'Current Charges', 'Rate Class', 'Bill Analyzed',
       'Consumption (Therms)', 'ES Commodity', 'Underlying Utility'],
      dtype='object')

In [16]:
# Dropping columns
df = df.drop(columns = ['Meter AMR','Meter Scope','Meter Number','Rate Class', 'Bill Analyzed','ES Commodity', 'Underlying Utility'])
df.head()

,Development Name,Borough,Account Name,Location,TDS #,EDP,RC Code,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Estimated,Current Charges,Consumption (Therms)
0,BETANCES I,BRONX,BETANCES I,NaN,211.0,326,B021100,FEDERAL,NY005012110P,CONSOLIDATED EDISON COMPANY OF NY,1841847,2010-01,12/09/2009,01/31/2010,53.0,N,0.00,0.00
1,ADAMS,BRONX,ADAMS,BLD 04,118.0,248,B011800,FEDERAL,NY005001180P,CONSOLIDATED EDISON COMPANY OF NY,1838631,2010-01,12/24/2009,01/26/2010,33.0,N,78292.97,136632.00
2,ADAMS,BRONX,ADAMS,BLD 04,118.0,248,B011800,FEDERAL,NY005001180P,HESS CORPORATION (905243) - 2,1851664,2010-01,12/25/2009,01/26/2010,32.0,N,133779.54,136632.00
3,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,31.0,524,K003100,FEDERAL,NY005010310P,National Grid NYC,2215468,2010-01,12/29/2009,01/28/2010,30.0,N,44335.21,153899.18
4,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,85.0,524,K008500,FEDERAL,NY005010310P,National Grid NYC,2215468,2010-01,12/29/2009,01/28/2010,30.0,N,22034.86,76488.82

In [17]:
# Returning total number of rows
len(df)

198108

In [28]:
# Specifying exact rows index we want and give the name of the columns
df.loc[[3, 5, 7], ['Development Name', 'Borough', 'Vendor Name']]

   Development Name    Borough                        Vendor Name
3  ALBANY/ALBANY II   BROOKLYN                  National Grid NYC
5  ALBANY/ALBANY II   BROOKLYN      HESS CORPORATION (905243) - 2
7      ALLEN STREET  MANHATTAN  CONSOLIDATED EDISON COMPANY OF NY

In [29]:
#Checking the datatype of dataset
df.dtypes

Development Name         object
Borough                  object
Account Name             object
Location                 object
TDS #                   float64
EDP                       int64
RC Code                  object
Funding Source           object
AMP #                    object
Vendor Name              object
UMIS BILL ID              int64
Revenue Month            object
Service Start Date       object
Service End Date         object
# days                  float64
Estimated                object
Current Charges         float64
Consumption (Therms)    float64
dtype: object

In [30]:
#Descriptive statistics
df.describe()

,TDS #,EDP,UMIS BILL ID,# days,Current Charges,Consumption (Therms)
count,195048.000000,198108.000000,1.981080e+05,198101.000000,198108.000000,1.981080e+05
mean,252.372918,501.158979,4.874157e+06,30.164361,9862.168465,1.975712e+04
std,131.599661,201.456904,2.548200e+06,8.868769,25103.455208,4.751330e+04
min,1.000000,200.000000,1.755537e+06,-335.000000,-54559.030000,0.000000e+00
25%,160.000000,322.000000,2.345221e+06,29.000000,336.330000,6.120000e+02
50%,280.000000,506.000000,4.445430e+06,30.000000,1177.445000,2.183000e+03
75%,346.000000,650.000000,7.022264e+06,31.000000,5907.780000,1.233920e+04
max,582.000000,999.000000,9.867654e+06,761.000000,680332.540000,1.253053e+06

In [39]:
#Sampling from the dataset. taking 5% data as a sample from the dataset
df.sample(frac = 0.05)

,Development Name,Borough,Account Name,Location,TDS #,EDP,RC Code,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Estimated,Current Charges,Consumption (Therms)
139689,GRAMPION,MANHATTAN,GRAMPION,BLD 01,281.0,507,M028100,FEDERAL,NY005010300P,DIRECT ENERGY BUSINESS (32179),6552440,2018-01,12/23/2017,01/24/2018,32.0,N,4066.22,7243.0
183587,CORSI HOUSES,MANHATTAN,CORSI HOUSES,BLD 01,199.0,359,M019900,FEDERAL,NY005010640P,CONSOLIDATED EDISON COMPANY OF NY,8656843,2020-02,01/24/2020,02/25/2020,32.0,N,16883.14,21549.0
39403,HOWARD AVENUE-PARK PLACE,BROOKLYN,HOWARD AVENUE-PARK PLACE,BLD 06,365.0,551,K036500,FEDERAL,NY005013510P,National Grid NYC,2164415,2012-02,01/25/2012,02/23/2012,29.0,N,1212.41,3582.0
17289,BLAND,QUEENS,BLAND,BLD 02,54.0,519,Q005400,FEDERAL,NY005011860P,HESS CORPORATION (905243) - 2,1960622,2011-01,12/24/2010,01/25/2011,32.0,N,52666.88,77026.0
15017,LINCOLN,MANHATTAN,LINCOLN,BLD 09,20.0,513,M002000,FEDERAL,NY005000200P,CONSOLIDATED EDISON COMPANY OF NY,1857550,2010-11,10/22/2010,11/22/2010,31.0,N,70960.21,120361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131826,TOMPKINS,BROOKLYN,TOMPKINS,BLD 06,131.0,246,K013100,FEDERAL,NY005011310P,EAST COAST POWER & GAS,6122847,2017-07,06/26/2017,07/26/2017,30.0,N,15654.73,32895.0
134496,SAMUEL (CITY),MANHATTAN,SAMUEL (CITY),BLD 12,377.0,650,M037700,MIXED FINANCE/LLC1,NY005023770P,CONSOLIDATED EDISON COMPANY OF NY,6189884,2017-09,08/22/2017,09/21/2017,30.0,N,215.57,289.0
11241,TAPSCOTT STREET REHAB,BROOKLYN,TAPSCOTT STREET REHAB,NaN,354.0,775,K035400,FEDERAL,NY005011670P,Hudson Energy ServicesB,1931929,2010-08,07/27/2010,08/26/2010,30.0,N,230.65,352.0
165467,FENIMORE-LEFFERTS,BROOKLYN,FENIMORE-LEFFERTS,BLD 08,205.0,322,K020500,FEDERAL,NY005011670P,National Grid NYC,7674601,2019-03,02/25/2019,03/26/2019,29.0,N,218.22,444.0
145942,STERLING PLACE REHABS (STERLING-BUFFALO),BROOKLYN,STERLING PLACE REHABS (STERLING-BUFFALO),BLD 04,368.0,837,K036800,FEDERAL,NY005013510P,EAST COAST POWER & GAS,6866289,2018-05,04/25/2018,05/25/2018,30.0,N,452.11,950.0

In [44]:
#Checking unique values  in column. Returns the total number of unique values in the specific column
df['Development Name'].nunique()

375

In [45]:
df['Borough'].nunique()

7

In [46]:
#Checking Null values in the dataset
df.isnull().sum()

Development Name        1052
Borough                    0
Account Name               0
Location                3588
TDS #                   3060
EDP                        0
RC Code                    0
Funding Source             0
AMP #                   2242
Vendor Name                0
UMIS BILL ID               0
Revenue Month              0
Service Start Date         7
Service End Date           7
# days                     7
Estimated               4670
Current Charges            0
Consumption (Therms)       0
dtype: int64

In [50]:
#Renaming the column name
df.rename(columns = {'Consumption (Therms)': "Consumption_Therms"})

,Development Name,Borough,Account Name,Location,TDS #,EDP,RC Code,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Estimated,Current Charges,Consumption_Therms
0,BETANCES I,BRONX,BETANCES I,NaN,211.0,326,B021100,FEDERAL,NY005012110P,CONSOLIDATED EDISON COMPANY OF NY,1841847,2010-01,12/09/2009,01/31/2010,53.0,N,0.00,0.00
1,ADAMS,BRONX,ADAMS,BLD 04,118.0,248,B011800,FEDERAL,NY005001180P,CONSOLIDATED EDISON COMPANY OF NY,1838631,2010-01,12/24/2009,01/26/2010,33.0,N,78292.97,136632.00
2,ADAMS,BRONX,ADAMS,BLD 04,118.0,248,B011800,FEDERAL,NY005001180P,HESS CORPORATION (905243) - 2,1851664,2010-01,12/25/2009,01/26/2010,32.0,N,133779.54,136632.00
3,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,31.0,524,K003100,FEDERAL,NY005010310P,National Grid NYC,2215468,2010-01,12/29/2009,01/28/2010,30.0,N,44335.21,153899.18
4,ALBANY/ALBANY II,BROOKLYN,ALBANY/ALBANY II,ALBANY BLD 04,85.0,524,K008500,FEDERAL,NY005010310P,National Grid NYC,2215468,2010-01,12/29/2009,01/28/2010,30.0,N,22034.86,76488.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198103,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,163.0,272,K016300,FEDERAL,NY005011630P,DIRECT ENERGY BUSINESS (32179),9463357,2020-10,09/26/2020,10/29/2020,33.0,NaN,0.00,0.00
198104,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,163.0,272,K016300,FEDERAL,NY005011630P,DIRECT ENERGY BUSINESS (32179),9597958,2020-11,10/30/2020,12/01/2020,32.0,N,12.95,31.00
198105,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,163.0,272,K016300,FEDERAL,NY005011630P,DIRECT ENERGY BUSINESS (32179),9668927,2020-12,12/02/2020,12/23/2020,21.0,N,147.45,353.00
198106,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,163.0,272,K016300,FEDERAL,NY005011630P,DIRECT ENERGY BUSINESS (32179),9755101,2021-01,12/24/2020,01/26/2021,33.0,N,43286.25,103630.00
198107,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,163.0,272,K016300,FEDERAL,NY005011630P,DIRECT ENERGY BUSINESS (32179),9862164,2021-02,01/27/2021,02/24/2021,28.0,N,34604.77,82846.00

In [55]:
#Filling the Null values by central tendency (Mean, Mode, Median)
#Mode is used for categorical data
cols = ['Development Name', 'Location', 'AMP #', 'Service Start Date', 'Service End Date']
df[cols] = df[cols].fillna(df.mode().iloc[0])

In [56]:
#mean and median are used for numerical values
cols = ['TDS #','Estimated', '# days']
df[cols] = df[cols].fillna(df.median().iloc[0])

C:\Users\omdre\AppData\Local\Temp/ipykernel_16840/1706970844.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[cols] = df[cols].fillna(df.median().iloc[0])

In [57]:
df.isnull().sum()

Development Name        0
Borough                 0
Account Name            0
Location                0
TDS #                   0
EDP                     0
RC Code                 0
Funding Source          0
AMP #                   0
Vendor Name             0
UMIS BILL ID            0
Revenue Month           0
Service Start Date      0
Service End Date        0
# days                  0
Estimated               0
Current Charges         0
Consumption (Therms)    0
dtype: int64

In [59]:
#Grouping the data
#Grouping the data by development, borough and unique identifier and calculating the total charges for each development
df.groupby(['Development Name', 'Borough', 'TDS #'])['Current Charges'].sum()

Development Name                   Borough    TDS #
1010 EAST 178TH STREET             BRONX      180.0     1931170.74
104-14 TAPSCOTT STREET             BROOKLYN   242.0      219205.73
1162-1176 WASHINGTON AVENUE        BRONX      233.0      426912.53
131 SAINT NICHOLAS AVENUE          MANHATTAN  154.0      712722.39
1471 WATSON AVENUE                 BRONX      214.0        1811.21
                                                          ...
WOODSIDE                           QUEENS     33.0     13720431.60
WOODSON                            BROOKLYN   182.0     2878360.64
WSUR (BROWNSTONES)                 MANHATTAN  178.0      612894.03
WSUR (SITE B) 74 WEST 92ND STREET  MANHATTAN  173.0         641.35
WYCKOFF GARDENS                    BROOKLYN   163.0     3822237.07
Name: Current Charges, Length: 411, dtype: float64

In [61]:
#Creating bins to divide consumption of gas range into 5 categories 
pd.cut(df['Consumption (Therms)'], bins = 5).value_counts()

(-1253.053, 250610.6]     196361
(250610.6, 501221.2]        1710
(501221.2, 751831.8]          31
(751831.8, 1002442.4]          3
(1002442.4, 1253053.0]         3
Name: Consumption (Therms), dtype: int64

In [62]:
#Finding the n largest and smallest Values
#Accessing the rows with the top 5 of the 'Current Charges' column
df.nlargest(5, 'Current Charges')

,Development Name,Borough,Account Name,Location,TDS #,EDP,RC Code,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Estimated,Current Charges,Consumption (Therms)
145345,GRANT,MANHATTAN,GRANT,BLD 05,87.0,232,M008700,FEDERAL,NY005000870P,DIRECT ENERGY BUSINESS (32179),6862211,2018-05,12/23/2017,05/23/2018,151.0,N,680332.54,1211849.90
144039,LA GUARDIA,MANHATTAN,LA GUARDIA/LA GUARDIA ADDITION,LA GUARDIA BLD 04,76.0,221,M007600,FEDERAL,NY005010760P,DIRECT ENERGY BUSINESS (32179),8114271,2018-04,03/27/2018,04/24/2018,28.0,N,651994.64,232274.54
145344,GRANT,MANHATTAN,GRANT,BLD 05,87.0,232,M008700,FEDERAL,NY005000870P,CONSOLIDATED EDISON COMPANY OF NY,6864436,2018-05,12/22/2017,05/23/2018,152.0,N,646818.47,1253053.00
141212,LA GUARDIA,MANHATTAN,LA GUARDIA/LA GUARDIA ADDITION,LA GUARDIA BLD 04,76.0,221,M007600,FEDERAL,NY005010760P,DIRECT ENERGY BUSINESS (32179),8114269,2018-02,01/25/2018,02/23/2018,29.0,N,575998.06,205200.59
142623,LA GUARDIA,MANHATTAN,LA GUARDIA/LA GUARDIA ADDITION,LA GUARDIA BLD 04,76.0,221,M007600,FEDERAL,NY005010760P,DIRECT ENERGY BUSINESS (32179),8114270,2018-03,02/24/2018,03/26/2018,30.0,N,553626.81,197230.78

In [63]:
df.nsmallest(5,'Current Charges')

,Development Name,Borough,Account Name,Location,TDS #,EDP,RC Code,Funding Source,AMP #,Vendor Name,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Estimated,Current Charges,Consumption (Therms)
196896,VLADECK,MANHATTAN,VLADECK/VLADECK II,VLADECK BLD 02,6.0,204,M000600,FEDERAL,NY005010060P,EAST COAST POWER & GAS,9352289,2020-02,01/24/2020,02/25/2020,32.0,N,-54559.03,48358.84
196893,VLADECK,MANHATTAN,VLADECK/VLADECK II,VLADECK BLD 02,6.0,204,M000600,FEDERAL,NY005010060P,EAST COAST POWER & GAS,9352272,2020-01,12/24/2019,01/24/2020,31.0,N,-52595.03,46800.90
196897,VLADECK,MANHATTAN,VLADECK/VLADECK II,VLADECK BLD 02,6.0,204,M000600,FEDERAL,NY005010060P,EAST COAST POWER & GAS,9352309,2020-03,02/25/2020,03/25/2020,29.0,N,-44982.71,43777.86
196899,VLADECK,MANHATTAN,VLADECK/VLADECK II,VLADECK BLD 02,6.0,204,M000600,FEDERAL,NY005010060P,EAST COAST POWER & GAS,9352335,2020-04,03/25/2020,04/23/2020,29.0,N,-42327.45,43777.86
196895,VLADECK II,MANHATTAN,VLADECK/VLADECK II,VLADECK BLD 02,7.0,371,M000700,FEDERAL,NY005010060P,EAST COAST POWER & GAS,9352289,2020-02,01/24/2020,02/25/2020,32.0,N,-23605.77,20923.16

In [64]:
#getting information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198108 entries, 0 to 198107
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Development Name      198108 non-null  object
 1   Borough               198108 non-null  object
 2   Account Name          198108 non-null  object
 3   Location              198108 non-null  object
 4   TDS #                 198108 non-null  float64
 5   EDP                   198108 non-null  int64
 6   RC Code               198108 non-null  object
 7   Funding Source        198108 non-null  object
 8   AMP #                 198108 non-null  object
 9   Vendor Name           198108 non-null  object
 10  UMIS BILL ID          198108 non-null  int64
 11  Revenue Month         198108 non-null  object
 12  Service Start Date    198108 non-null  object
 13  Service End Date      198108 non-null  object
 14  # days                198108 non-null  float64
 15  Estimated             198108 non-null  object
 16  Current Charges       198108 non-null  float64
 17  Consumption (Therms)  198108 non-null  float64
dtypes: float64(4), int64(2), object(12)
memory usage: 27.2+ MB